*log
*zip
temp*
build
*.bin
check
final
cache
run.sh
poison
*.jsonl
splited
res.txt
log.txt
defense*
examples
microsoft
base_model
Salesforce
prediction
__pycache__
saved_models
tree-sitter-*
representation
**/dataset/ropgen
saved_poison_models